body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.bg-image {
    background-image: url('../images/depositphotos_215583334-stock-photo-close-person-writing-notebook-wooden.jpg');
    background-size: cover;
    background-position: center;
}

.container-fluid {
    height: 100vh;
}

h3.display-6 {
    text-align: center;
    margin-bottom: 2rem;
}

#mensagemErro {
    display: none;
}
